In [4]:
#Mughees
import pandas as pd
import plotly.express as px
import nbformat

In [5]:
MartysData = pd.read_excel("Martys_Traffic_counts_Fall_23_to_Spring_24.xls")

In [6]:
MartysData

,Start,-,End,MartyCount,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Total
0,"Sunday, 09/03/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12:46:44.320000,-,13:00:00,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,14:46:48.005000,-,15:00:00,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
3,15:01:52.465000,-,15:15:00,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
4,15:16:05.633000,-,15:30:00,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4924,20:46:13.250000,-,21:00:00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4925,21:16:19.793000,-,21:30:00,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
4926,21:31:03.623000,-,21:45:00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4927,Day Totals:,59,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59.0,NaN,NaN
4928,Grand Totals:,30266,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30266.0,NaN,NaN